.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input[type="text"] {
  font-size: 1em;
  margin-top: 10px;
}

.game-profile {
  background-color: #1c1c1c;
  border: 1px solid #00f0ff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.page {
  padding: 20px;
}